# Dependencies
node_modules/
.pnp
.pnp.js

# Testing
coverage/

# Next.js / vinext
.next/
out/
dist/
build/.next/

# Misc
.DS_Store
*.pem

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Local env files
.env*.local
.env

# Vercel
.vercel

# Wrangler
.wrangler/

# TypeScript
*.tsbuildinfo
next-env.d.ts

# Sites runtime
.sites-runtime/
